<!DOCTYPE html>
<html>
<head>
<title>Portfl</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link href="http://materializecss.com/dist/css/materialize.min.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link
	href="http://materializecss.com/templates/parallax-template/css/style.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
	<div th:replace="fragments/header-login-and-registration :: header" />
	<div class="row">
		<div class="col s0 m3 l4" />
		<form method="post" class="col s12 m6 l4"
			th:action="@{/registration/step3(username=${username})}">
			<div class="input-field">
				<input id="birth-year" type="text" name="birthYear"
					class="form-control" /> <label for="birth-year">Year of
					birth</label>
			</div>
			<div class="input-field">
				<input id="height" type="text" name="height" class="form-control" />
				<label for="height">Height</label>
			</div>
			<div class="input-field">
				<input id="weight" type="text" name="weight" class="form-control" />
				<label for="weight">Weight</label>
			</div>
			<div class="input-field">
				<div class="select-wrapper">
					<select name="gender">
						<option value="" disabled="disabled" selected="selecte">Choose your gender</option>
						<option th:each="gender : ${genders}" th:text="${gender.label}"></option>
					</select><label>Gender</label>
				</div>
			</div>
			<div class="input-field">
				<input type="submit" value="Sign Up"
					class="btn" />
			</div>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://materializecss.com/dist/js/materialize.js"></script>
	<script
		src="http://materializecss.com/templates/parallax-template/js/init.js"></script>
	<script>
		$(document).ready(function() {
			$('select').material_select();
		});
	</script>
</body>
</html>