<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
</head>
<body>
<div>
		<form method="post" action="/registration/step1">
			<div>
				<label> Name: <input type="text" name="username" />
				</label>
			</div>
			<div>
				<label> Email: <input type="email" name="email" />
				</label>
			</div>
			<div>
				<label> Password: <input type="password" name="password" />
				</label>
			</div>
			<div>
				<label> Repeat password: <input type="password" name="passwordRepeat" />
				</label>
			</div>
			<div>
				<input type="submit" value="Sign Up" />
			</div>
		</form>
	</div>
</body>
</html>