<!DOCTYPE html>
<html>
<head>
<title>404</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link href="http://materializecss.com/dist/css/materialize.min.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link
	href="http://materializecss.com/templates/parallax-template/css/style.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
	<div class="section teal lighten-3 white-text">
		<div class="container">
			<h1>404</h1>
			<p>Page not found. <a><u>To home page.</u></a></p>
		</div>
	</div>

</body>
</html>